name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Install production dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Create release zip
        run: |
          mkdir -p release
          rsync -av --exclude-from=.distignore . release/hellotext-wordpress/
          cd release
          zip -r hellotext-wordpress.zip hellotext-wordpress

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/hellotext-wordpress.zip
          generate_release_notes: true
